@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

$family-sans-serif: "Roboto Mono", sans-serif;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

.state {
  margin-top: 10px;
  background-color: #303030;
  color: #ffb86c;
  padding: 20px;
  border-radius: 4px;
  font-family: $family-sans-serif;
}
